* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 2480px;
  height: 3508px;
  margin: 0 auto;
  zoom: 40%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10%;
  margin: 0 auto;
}

.header h2 {
  font-size: 6rem;
}

hr {
  height: 4px;
  border-width: 0;
  background-color: gray
}

.cred-outer-wrapper {
  display: flex;
  margin-left: auto;
}

.cred-wrap {
  display: flex;
  padding: 2rem;
  font-size: 2.4rem;
  align-items: center;
  gap: 1rem;
}

.cred-wrap a {
  all: unset;
  cursor: pointer;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.left-section {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: rgb(190, 190, 190); */
  /* border: 5px solid red; */
}

.right-section {
  grid-area: 1 / 2 / 2 /3;
  /* background-color: rgb(190, 190, 190); */
  /* border: 5px solid blue; */
}

.wrap {
  width: 100%;
  height: 100%;
}